/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

/* Utilities  */
body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto', sans-serif;
}
/* =============
  Nav Section 
============= */
.heroSec {
  background-color: #FFF9F4;
}
.menuItem{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #3C3C3C;
}
.heroItems {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.heroTitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  color: #3C3C3C;
  /* letter-spacing: 0.25rem; */
}
.heroDecs {
  font-size: 1rem;
}
.button {
  padding: 18px 33px;
  background-image: linear-gradient(to bottom, #3D4FF3, #3543BC);
  color: #ffffff;
  border: none;
  font-size: 1rem;
}

/* =====================
  Casual Shoes Section  
===================== */
.casualTitle{
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  color: #3C3C3C;
  /* letter-spacing: 0.25rem; */
}
.cardTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.infoSec {
  margin-top: 100px;
}